$colorFondoGrid:#CCCCCC;
$colorFocusElemento:#E1E1E1;
.containerGridCaptura{
	table{
		width: 100%;
		border-spacing: 0;
    	border-collapse: separate;
	}
	td,th{
		padding:0;
		border-spacing: 0;
		border:.8px solid $colorFondoGrid;
		text-align: center;
	}
	td{
		background: $colorFocusElemento;
	}
	td input{
		padding: 0;
		margin: 0;
		border: 0;
		border: none;
		width: 97%;
		height:3em;
	}
	& .cabeceraColumna{
		background:$colorFondoGrid; 
		height:18px; 
		font-size:12px; 
		font-weight:bold; 
		text-align:center;
	}
	& .cuadroGrid{
		background:$colorFondoGrid; 
		font-weight:bold; 
		text-align:center; 
		font-size:11px;
		padding: .6em;
	}
	& .resultadoGuardadoCol{
		background:$colorFondoGrid;
		height:18px;  
		font-size:12px; 
		font-weight:bold; 
		text-align:center;
	}
	& .resultadoGuardado{
		background:#FFC;
		border:1px solid $colorFondoGrid;
		font-weight:bold;
		position: relative;
		display:block;
		width: 90%;
	}
	& .elementoFocus{
		background:$colorFocusElemento; 
		width:97%;
	}
	
	@media screen and (max-width: 720px){
		table,thead,tr,th,tbody,td{
			display: block;
		}
		thead tr{
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		td{
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
			text-align: center;
		}
		td:before{
			position: absolute;
			top: 4px;
			left: 0px;
			width: 44%;
			white-space: nowrap;
			background:$colorFondoGrid; 
			height:18px; 
			font-size:12px; 
			font-weight:bold; 
			text-align:center;
			border:.8em solid #CCC;
		}
	}
}

